.btn {
    font-family: var(--font);
    color: var(--font-color);
    font-size: var(--generalButton-size);

    width: 250px;

    background-color: transparent;
    border: 2px solid var(--font-color);

    cursor: pointer;
}

.btn:hover {
    background-color: var(--font-color);
    color: black;
    border: 2px solid black;
}